
@import './componentsheets/search.css';
@import './componentsheets/menu.css' ;
/* 容器 */
.wp {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.container{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
@media only screen and (max-width:1192px) {
    .wp{
        width: 95%;
    }
}
@media only screen and (max-width:776px) {
    .wp{
        width: 100%;
    }
    .container {
        padding-top: 45px;
    }
}
.iconfont {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
