/* 头部 */
.header-wp{
    overflow: hidden;
    width: 100%;
    background-color:#fff;
}
.header-wp .hot-wp {
    height: 30px;
    box-shadow: 0 1px 10px 0 #d9d9d9;
    overflow: hidden;
}
.header-wp .hot-wp .fl {
    width: 60%;
}
.header-wp .hot-wp .fr {
    width: 40%;
    text-align:right;
}
.header-wp .hot-wp a {
    color: #999;
    font-size: 13px;
    margin: 0 1px;
}
.header-wp .hot-wp .hot {
    line-height: 30px;
}
.header-wp .hot-wp a:hover{
    color: #be1204;
}
.header-wp .head{
    height: 108px;
}
.header-wp .logo{
    height: 108px;
    line-height: 108px;
}
.header-wp .logo a {
    display: block;
    width: 203px;
    /* height: 66px; */
    margin-top: 8px;
}
.header-wp .logo img{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: top; 
}
.header-wp .right {
    position: relative;
}
.header-wp .right .fast-nav-wp {
    position: absolute;
    right: 0;
    top: 0;
}
.header-wp .right .fast-nav {
    line-height: 28px;
}
.header-wp .right .fast-nav a{
    color: #106492;
    margin: -2px 4px 0;
    font-size: 12px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.header-wp .right .fast-nav a:hover{
    color: #be1204;
}
.header-wp .search{
    width: 518px;
    margin-top: 38px;
}
.header-wp .search input {
    width: 420px;
}
@media only screen and (max-width:776px) {
    .header-wp {
        position: fixed;
        left: 0;
        top: 0;
        height: 45px;
        z-index: 9;
        box-shadow: 0 0 8px #888;
        -webkit-box-shadow: 0 0 8px #888;
        -moz-box-shadow: 0 0 8px #888;
        -ms-box-shadow: 0 0 8px #888;
        -o-box-shadow: 0 0 8px #888;
    }
    .header-wp .hot-wp {
        display:none;
    }
    .header-wp .wp{
        height: 45px;
        line-height: 45px;
    }
    .header-wp .right .fast-nav-wp {
        display: none;
    }
    .header-wp .search{
        display: none;
    }
    .header-wp .logo {
       width: 40%;
       height: 45px;
       line-height: 45px;
    }
    .header-wp .logo a {
        max-width: 60%;
        height: 100%;
        margin-top: 0;
    }
   .header-wp .logo img {
        margin-top: -5px;
        vertical-align: middle;
   }
   .header-wp .right {
       margin-top: 1px;
   }
   .header-wp .right .menu-icon {
       position: relative;
       display: block;
       width: 40px;
       height: 40px;
       padding: 7px;
       z-index: 9;
       transition: opacity .3s;
       -webkit-transition: opacity .3s;
       -ms-transition: opacity .3s;
       -moz-transition: opacity .3s;
       -o-transition: opacity .3s;
   }
   .header-wp .right .menu-icon:hover{
       opacity: .8;
       cursor: pointer;
   }
   .header-wp .right .menu-icon b {
       display: block;
       height: 3px;
       width: 28px;
       background-color: #004a84;
       margin: 3px 0 5px;
       border-radius: 2px;
        -webkit-border-radius: 2px;
       -ms-border-radius: 2px;
       -moz-border-radius: 2px;
       -o-border-radius: 2px;
       transition: all .3s;
       -webkit-transition: all .3s;
       -ms-transition: all .3s;
       -moz-transition: all .3s;
       -o-transition: all .3s;
       transform-origin: center;
       -webkit-transform-origin: center;
   }
   .header-wp .right .active b {
       position: absolute;
       left: 10px;
       top: 10px;
       margin-top: 9px;
   }
   .header-wp .right .active b:first-child{
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
   }
   .header-wp .right .active b:nth-child(2){
        display: none;
   }
   .header-wp .right .active b:last-child{
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
   }
}
/* 头部结束 */

/* 导航 */
.nav {
    background: url('../images/nav-bg.png') repeat-x;
}
.nav .wp ul {
    font-size: 0;
}
.nav .wp li {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 40px;
    background: url('../images/bg-div.png') no-repeat 100% 2px;
}
.nav .search {
    display: none;
}

@media only screen and (max-width:776px) {
    .nav {
        position: fixed;
        height: 0;
        top: 45px;
        width: 100%;
        background-image: none;
        background-color:rgba(0, 0,0,.8);
        overflow: hidden;
        z-index: 9;
        transition: height .4s ease-out;
        -webkit-transition: height .4s ease-out;
        -ms-transition: height .4s ease-out;
        -moz-transition: height .4s ease-out;
        -o-transition: height .4s ease-out;
    }
    .nav .search{
        display: block;
        width: 100%;
        height: 38px;
        margin: 0 0 5px; 
        transition: margin-top .4s ease-out;
        -webkit-transition: margin-top .4s ease-out;
        -ms-transition: margin-top .4s ease-out;
        -moz-transition: margin-top .4s ease-out;
        -o-transition: margin-top .4s ease-out;
    }
    .nav .search input {
        width: -webkit-calc(100% - 98px);
        width: -mos-calc(100% - 98px);
        width: -ms-calc(100% - 98px);
        width: -o-calc(100% - 98px);
        width: calc(100% - 98px);
    }
    .nav ul {
        height: 350px;
        overflow-y: auto;
    }
    .nav .wp li {
        width: 100%;
        height: 35px;
        line-height: 35px;
        background: none;
    }
    .sm-nav {
        height: 405px;
        box-shadow: 1px 2px 5px #888;
    }
    .sm-nav .search {
        margin-top: 10px;
    }
}
/* 导航结束 */