.m-list-wp{
    margin: 30px auto 0;
}
.m-list-wp .cur {
    border: 1px solid #bfe4ff;
    background-color: #f7f7ff;
    line-height: 25px;
    padding: 0 10px;
    font-size: 12px;
    color: #333;
    overflow: hidden;
}
.m-list-wp .m-list {
    margin-top: 20px;
    overflow: hidden;
}
.m-list-wp .m-list ul{
    width: 100%;
    display: flex;
    -webkit-display: flex;
    -ms-webkit-display: flex;
    -moz-webkit-display: flex;
    justify-content: flex-start;

}
.m-list-wp .m-list ul li{
    width: 33.33333%;
}
@media only screen and (min-width: 768px) {
    .m-list-wp .m-list ul li {
        flex: 0 0 50%;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        -moz-flex: 0 0 50%;
        -o-flex: 0 0 50%;
        max-width: 50%;
    }
}
@media only screen and (min-width: 768px) {
    .m-list-wp .m-list ul li {
        flex: 0 0 50%;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        -moz-flex: 0 0 50%;
        -o-flex: 0 0 50%;
        max-width: 50%;
    }
}

@media only screen and (max-width: 766px) {
    .m-list-wp .m-list ul li {
        flex: 0 0 100%;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        -moz-flex: 0 0 100%;
        -o-flex: 0 0 100%;
        max-width: 100%;
    }
}