<link rel="stylesheet" href="/public/stylesheets/footer.css">
<div class="footer">
    <div class="wp">
        <p>2019-2025&nbsp;万寻免费&nbsp;
            <a href="/" target="_self">电影下载站</a>
            www.wx520.net.&nbsp;All&nbsp;Rights&nbsp;Reserved
            <a href="/" target="_self">电影下载网站&nbsp;免费</a>
        </p>
        <p>
            <a href="/" target="_self">下载电影</a>
            就来万寻电影网，本站资源均为网络免费资源搜索机器人自动搜索的结果，本站只提供
            <a href="/" target="_self">最新电影下载</a>
            ，并不存放任何资源。
        </p>
        <p>所有视频版权归原权利人，将于25小时内删除！我们强烈建议所有影视爱好者购买正版音像制品！</p>
        <p>本站拒绝一切非法，淫秽电影，欢迎大家监督</p>
    </div>
</div>