<link rel="stylesheet" href="/public/stylesheets/footer.css">
<div class="footer">
    <div class="wp">
        <p>Copyright © 2019&nbsp;万寻免费&nbsp;
            <a href="/" target="_self">电影下载站</a>
            www.wx520.net.&nbsp;All&nbsp;Rights&nbsp;Reserved
            <a href="/" target="_self">电影下载网站&nbsp;免费</a>
        </p>
        <p>
            本站所有内容均来自互联网，我们不提供影片资源存储，也不参与录制、上传！请下载后24小时内删除，不可用于商业传播，否则产生的一切后果将由您自己承担！
        </p>
        <p>所有视频版权归原权利人，我们强烈建议所有影视爱好者购买正版音像制品！</p>
    </div>
</div>