<ul id="menuWp" class="menu">
    <li class="title">电影</li>
    <li class="home work">首页</li>
    <li class="work">动作片</li>
    <li class="work">喜剧片</li>
    <li class="work">爱情片</li>
    <li class="work">科幻片</li>
    <li class="work">剧情片</li>
    <li class="work">悬疑片</li>
    <li class="work">战争片</li>
    <li class="work">恐怖片</li>
    <li class="work">灾难片</li>
    <li class="work">伦理片</li>
    <li class="title">热门电影</li>
    <li class="hot-movie">
        <%- include hotMovie %>
    </li>
    <li class="title">热门电影</li>
    <li class="hot-movie">
        <%- include hotTheme %>
    </li>
    <!-- <li class="hot"><a href="/html/ethical/1" target="_self">年轻的姐夫</a></li>
    <li class="hot"><a href="/html/comedy/3766" target="_self">大侦探皮卡丘</a></li>
    <li class="hot"><a href="html/science/4" target="_self">惊奇队长</a></li>
    <li class="hot"><a href="/html/romance/2" target="_self">下一任 : 前任</a></li>
    <li class="hot"><a href="/html/ethical/5" target="_self">欲望故事</a></li>
    <li class="hot"><a href="/html/ethical/6" target="_self">西谎极落</a></li>
    <li class="hot"><a href="/html/action/4621" target="_self">极地追击</a></li> -->
    <!-- <li>连续剧</li>
    <li>动漫</li>
    <li>综艺片</li> -->
</ul>