<div class="search">
    <input class="fl ipt" type="text" placeholder="输入电影名称搜索..." autocomplete="on" />
    <Button class="fr btn">影视搜索</Button>
    <div class="tip"><span>若下载链接失效，请联系QQ1412288533</span></div>
</div>