
<div class="search">
    <input class="fl" type="text" placeholder="输入电影关键词" />
    <Button id="searchBtn" class="fr">影视搜索</Button>
</div>
<script src="/javascripts/utils.js"></script>
<script src="/javascripts/search.js"></script>