<link rel="stylesheet" href="/public/stylesheets/componentsheets/titleBar.css">
<div class="title-bar">
    <h2><%= title %></h2>
    <% if(hasMore) { %>
    <a href=<%= type? `/html/${type}/index` : '/html/more' %>>更多...</a>
    <% } %>
</div>